# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Tudor\Desktop\D\faculta\SemI\fundamentals_of_programming\asignments\Lab09_json_configuration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
